header section {
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}
#texto-header {
  font-size: 20pt;
  font-family: "Gill Sans MT";
  font-weight: bold;
  text-align: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
header nav ul li {
  padding: 20px;
}

header nav ul li a {
  padding: 0px 15px;
  color: #9b2226;
}
a {
  padding: 0px 15px;
  color: #9b2226;
}
